# Node dependencies
node_modules
npm-debug.log
yarn-error.log

# Environment files
.env

# Build outputs
dist
build
tmp
coverage

# OS & editor junk
.DS_Store
Thumbs.db
*.swp
*.swo

# Git files
.git
.gitignore

# Docker files
Dockerfile*
docker-compose*

# Logs
logs
*.log

# IDE & editor configs
.vscode
